.list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.item {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.item + .item {
  margin-top: 10px;
}

.item:nth-child(5) {
  font-size: 22px;
  font-weight: 900;
}
